<<<<<<< HEAD
<body style="background-image: url(https://images.pexels.com/photos/1056251/pexels-photo-1056251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-size: cover; background-repeat:no-repeat;background-position:left top;">
<div class="container" style="max-width: 350px;">
=======
<body style="background-image: url(https://https://images.pexels.com/photos/1314550/pexels-photo-1314550.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); background-size: 100%">
<div class="container" style="max-width: 500px;">
>>>>>>> justin
  <div class="row">
    <div class="col-md-12">
      <br><br><br>
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
        
        <h1 class="h3 mb-3 font-weight-normal text-center">Crée ton compte</h1>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Mot_de_passe %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :Mot_de_passe, autocomplete: "Mot de passe", class: "form-control" %>
        </div>
        <div class="form-group">
<<<<<<< HEAD
          <%= f.label :Confirmer_mot_de_passe %><br />
          <%= f.password_field :Confirmer_mot_de_passe, autocomplete: "new-password", class: "form-control" %>
=======
          <%= f.label :confirmer_mot_de_passe? %><br />
          <%= f.password_field :confirmer_mot_de_passe?, autocomplete: "new-password", class: "form-control" %>
>>>>>>> justin
        </div>
        <div class="actions mt-5">
          <%= f.submit "Inscription !", class: "btn btn-lg btn-primary btn-block" %>
        </div>
        </br>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<<<<<<< HEAD
</body>
=======
</body>
>>>>>>> justin
