<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Cute&Cat's</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Nos photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">A propos de nous</a>
    </li>

    <!-- Dropdown
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Connect !
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Se connecter</a>
        <a class="dropdown-item" href="#">S'inscrire</a>
        <a class="dropdown-item" href="#">Aller au diable ?</a>
      </div>
    </li> -->
    
</ul>

<ul class="nav navbar-nav navbar-right">
    <% if current_user %>
    <li><%= button_to "Déconnexion", destroy_user_session_path(current_user), method: :delete, class: 'btn btn-danger', style: "margin: 10px" %></li>
    <li><%=link_to "Mon profil", user_path(current_user), class: 'nav-link' %></li>

  <% else %>
    <li><%=link_to "Inscription", new_user_registration_path(), class: 'nav-link' %></li>
    <li><%= link_to "Se connecter", new_user_session_path(), class: 'nav-link' %></li> 
  <% end %>
  <li>Voir les chattes de ta regions</li>
  </ul>
  
  

</nav>
<%= yield %>
</body>
</html>